.loading {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    height: 40px;
    width: 40px;

    background: url("../../../../assets/loading/spinner-icon.svg") no-repeat
      center;
    animation: animate-spinner 1s infinite;
  }
}


