$border: 2px solid;

$border-radius: 10px;
$box-shadow: 0px 0px 0px 0px black;

$color-success: #52c41a;
$color-default: #1890ff;
$color-error: #ff4d4f;
$color-warning: rgba(255, 77, 79, 0.05);

$color-mute: rgba(0, 0, 0, 0.5);
$color-transparent: #ffffff;

$global-padding: 20px;
