@import "src/app/shared/style/style.const";
@import "src/app/shared/style/style.classes";

.page-body {
  min-height: 500px;

  padding: 50px $global-padding 50px $global-padding;

  &-loader {
    position: relative;
    height: 100%;
    width: 100%;

    opacity: 0.4;
    pointer-events: none;

    transition: all 0.3s;

    &:before {
      position: absolute;
      top: 45%;
      left: 45%;
      content: "";
      height: 100px;
      width: 100px;

      background: url("../../../../assets/loading/spinner-icon.svg") no-repeat
        center;
      animation: animate-spinner 1s infinite;
    }
  }
}
